h1= title

ul 
	each page in pages
		li
			h2= page.name
			dl
				dt title 
				dd= page.title
				dt release 
				dd= page.release
				dt layout 
				dd= page.layout
			table(border=1)
				caption 
					strong Modules
						
				tr
					th Name
					th Target
					th Id
					th Js
				each module in page.modules
					tr
						each val,key in module
							td= val